<br><div class="container-fluid">
    <div id="home" class="row align-item-center hero">
        <div class="col-lg-3 offset-lg-1">
            <h1 style="margin-top: 50px;">Zoopedia</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ab facilis repudiandae ex, sint minima!
                Incidunt deserunt architecto laboriosam corrupti dolores neque molestias saepe sint voluptas,
                placeat facilis fugiat nam.</p>
        </div>
    </div>

</div>
<div class="row my-3"> <!--INICIO DE NOVEDADES Y TESTIMONIOS-->
    <!--INICIO DE NOVEDADES-->
    <div id="novedades" class="col-md-5 offset-md-2 py-3 scroll_section">
        <h2 style="color:#B3BF54">Novedades</h2>
        <ul class="lista-novedades">
            {{#each novedades}}
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal{{id}}">
                    <img src="{{imagen}}">{{titulo}}</a>
            </li>
            {{/each}}
        </ul>
    </div><!--CIERRE DE NOVEDADES-->
    <!-- INICIO DE Modal -->
    {{#each novedades}}
    <div class="modal fade" id="exampleModal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">{{Titulo}}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="{{imagen}}">
                    <h3>{{Subtitulo}}</h3>
                    <p>{{Cuerpo}}</p>
                </div>

            </div>
        </div>
    </div>
    {{/each}}
    <!--FIN DEL MODAL-->
    <div class="col-md-3 my-3" style="color: #B3BF54;">
        <div class="rounded py-5 testimonios">
            <h2 class="text center">Testimonios</h2>
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="testimonio">
                            <h5>"La mejor pagina del mundo!!!</h5>
                            <p>Federico, Merlo</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonio">
                            <h5>"La mejor pagina del mundo 2!!!</h5>
                            <p>Violeta, Mataderos</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonio">
                            <h5>"La mejor pagina del mundo 3!!!</h5>
                            <p>Ailen, Moreno</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div> <!--CIERRE DE NOVEDADES Y TESTIMONIO-->
<!--INICIO HISTORIA-->
<div id="historia" class="row align-item-center py-4 scroll_section">
    <div class="col-lg-2 col-md-3 offset-md-2 d-none d-sm-block">
        <img src="images/panda-historia.jpg" alt="historia 1" class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-3 d-none d-sm-block">
        <img src="images/perezoso-historia.jpg" alt="historia 2" class="img-fluid">
    </div>
    <div class="col-12 d-sm-none">
        <img src="images/tigre-historia.jpg" alt="historia 3" class="img-fluid">
    </div>
    <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
        <h2 style="color: #B3BF54;">Historia</h2>
        <p style="color: white;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit molestias rerum
            porro consequuntur ea?
            Quis repudiandae ullam accusamus itaque inventore id nulla ad iure. Enim nulla optio cum sed voluptatem!
        </p>
    </div>
</div>
<!--FINALIZO HISTORIA-->
<!--INICIO NOSOTROS-->
     <div id="nosotros" class="row align-item-stretch my-3 staff py-4 scroll_section">
        <div class="col-lg-8 offset-md-2">
            <h2 style="color: #B3BF54;">Nosotros</h2>
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col">
                    <div class="card" style="background-color: #B3BF54;">
                        <img src="images/mono nariz-nosotros.jpg" class="card-img-top" alt="Mono">
                        <div class="card-body">
                            <h5 class="card-title">Mono Narigudo</h5>
                            <p class="card-text">El mono narigudo es una especie de primate que habita en selva, los
                                manglares y los bosques pantanosos de la isla de Bordeo (Indonecia).</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="background-color: #B3BF54;">
                        <img src="images/alpaca-nosotros.jpg" class="card-img-top" alt="Alpaca">
                        <div class="card-body">
                            <h5 class="card-title">Alpaca</h5>
                            <p class="card-text">Son pequeñas como las vicuñas y comparten su distribución en las zonas
                                puneñas. Las alpacas viven casi exclusivamente en la Puna húmeda y por eso existen pocos
                                ejemplares en Argentina.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="background-color: #B3BF54;">
                        <img src="images/ardilla-nosotros.jpg" class="card-img-top" alt="Ardilla">
                        <div class="card-body">
                            <h5 class="card-title">Ardilla</h5>
                            <p class="card-text">Es un mamífero de pequeño tamaño, su cuerpo es alargado y estrecho, con
                                una larga cola de aspecto esponjoso y muy poblada de pelo.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="background-color: #B3BF54;">
                        <img src="images/ajolote-nosotros.jpg" class="card-img-top" alt="Ajolote">
                        <div class="card-body">
                            <h5 class="card-title">Ajolote</h5>
                            <p class="card-text">El ajolote es un anfibio que habita en méxico, su color en libertad es
                                verde y marron; sin enbargo los ajolotes que se venden como mascotas suelen ser blancos.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>    
    <!--FINALIZO NOSOTROS-->
    <!--INICIO DE MAPA Y FORMULARIO-->
    <div id="conocenos" class="row py-4 scroll_section">
        <div class="col-md-4 offset-md-2">
            <h2 style="color: #B3BF54;">Visitanos</h2>
            <div class="mapa">
                <iframe
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d105387.3590943207!2d-58.95976530273437!3d-34.366890899999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bb61c2ea34393b%3A0x6e2e684905738871!2sBioparque%20Temaik%C3%A8n!5e0!3m2!1ses-419!2sar!4v1685246622887!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div> <!--CIERRA DIV CON ID VISITANOS-->

        <div class="col-md-4 mt-4 mt-sm-0" id="formulario">
            <h2>Contactanos</h2>
            <form class="row g-3" action="/" method="post">
                <div class="col-md-6">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre">
                </div>
                <div class="col-md-6">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido">
                </div>
                <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="email@email.com" name="email">
                </div>
                <div class="col-12">
                    <label for="tel" class="form-label">Tel</label>
                    <input type="text" class="form-control" id="tel" 
                        placeholder="..." name="tel">
                </div>
                <div class="col-md-12">
                    <label for="mensaje" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="mensaje" rows="3" name="mensaje"></textarea>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary" id="button-contactanos">Enviar</button>
                </div>
            </form>
            <p>{{message}}</p>
        </div>


    </div><!--CIERRA DIV CON ID contacto-->
    <!--FIN DE MAPA Y FORMULARIO-->